.window1st {
    width: 300px;
    height: auto;
    border-radius: 5%;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
    margin-left: calc((100% - 580px)/2);
}

.window2nd {
    width: 300px;
    height: auto;
    border-radius: 5%;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
    margin-right: calc((100% - 580px)/2);
}

@media (max-width: 650px) {
    .window1st, .window2nd {
        margin: auto;
    }
    .window1st {
        margin-bottom: 20px;
    }
}

.counterDisplay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgba(178, 170, 194, 0.748);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.counterDisplayError {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgba(178, 170, 194, 0.748);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 4px rgb(255, 38, 38), 
                    2px 2px #fff;
}

.counterBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(130, 154, 44);
}